/* 不知道要放哪的地方 */


/* font */
.italic {
  font-style: italic;
}
.font-weight-bold{
  font-weight: 700;
}
.m-0-a {
  margin: 0 auto ;
}



/* text align */
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}