//color
$primary: #aa0601;
$primary-darken:#650300;

$background-color: #aa06010d;
$font-color-dark: #650300;
$font-color-gray: #707070;
$font-color-light: #ffffff;

//font
$font-family: -apple-system,
BlinkMacSystemFont,
"Segoe UI",
"Microsoft JhengHei",
Roboto,
"Helvetica Neue",
Arial,
sans-serif;
$font-size: 16px;


/* spacing */
$gutter: 8px;

/* grid */


/* break points*/
// $lg-width:1199px; 
$md-width:768px; 
$sm-width:375px; 

